[Unit]
Description=Homie Stream Deck
Documentation=https://github.com/ngreatorex/homie-streamdeck
Wants=network-online.target
After=network-online.target
After=openhab.service

[Service]
Type=exec
ExecStart=/usr/bin/node index.js
Restart=on-failure
User=nobody
Group=plugdev
#Environment=PATH=/usr/bin/
Environment=NODE_ENV=production
WorkingDirectory=/home/neil/homie-streamdeck

[Install]
WantedBy=multi-user.target
